@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'la_luxes_serifregular';
    src: local(''), url('/fonts/la_luxes_serif-webfont.woff2') format('woff2'),
            url('/fonts/la_luxes_serif-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}


